<nz-space nzDirection="vertical" class="full-width" nzSize="large">
    <div *nzSpaceItem class="add-style">
        <button nz-button [nzType]="'primary'" (click)="toggleAddModal()"><span>Add task</span></button>
        <app-add-task-modal (onAdd)="handleAddTask($event)" [isVisibleAddModal]="isVisibleAddModal"
            (toggleAddModal)="toggleAddModal()"></app-add-task-modal>
    </div>
    <div *nzSpaceItem>
        <app-task-filter (onFilter)="handleFilter($event)"></app-task-filter>
    </div>
    <div *nzSpaceItem>
        <nz-table #basicTable [nzData]="tasks|async" [nzLoading]="loading | async">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Assignee</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of basicTable.data">
                    <td>{{t.description}}</td>
                    <td>{{findUserById(t.assigneeId)}}</td>
                    <td>{{t.completed ? 'Completed' : 'Not completed'}}</td>
                    <td nzAlign="right">
                        <button nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'"
                            nzType="text"><i nz-icon nzType="more" nzTheme="outline"></i></button>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu class="dropdown-action">
                                <li nz-menu-item (click)="openAssignModal(t)">
                                    <i nz-icon nzType="send" nzTheme="outline"></i>
                                    Assign
                                </li>
                                <li nz-menu-item (click)="onComplete(t)">
                                    <ng-container *ngIf="!t.completed; else b">
                                        <i nz-icon nzType="check-circle" nzTheme="outline"></i> Complete
                                    </ng-container>
                                    <ng-template #b><i nz-icon nzType="minus-circle" nzTheme="outline"></i> Incomplete
                                    </ng-template>
                                </li>
                                <li nz-menu-item (click)="viewDetail(t)"><i nz-icon nzType="info-circle" nzTheme="outline"></i> View detail</li>
                            </ul>
                        </nz-dropdown-menu>
                    </td>
                </tr>
            </tbody>
        </nz-table>

    </div>
</nz-space>

<nz-modal [(nzVisible)]="isVisibleAssignModal" nzTitle="Assign task" (nzOnCancel)="toggleAssignModal()"
    (nzOnOk)="handleAssignOk()">
    <ng-container *nzModalContent>
        <p>Assign task {{currentTask.id}} to: </p>
        <nz-select class="select-user" nzShowSearch nzAllowClear nzPlaceHolder="Select user" [(ngModel)]="selectedUser">
            <nz-option *ngFor="let user of users | async" [nzLabel]="user.name" [nzValue]="user.id"></nz-option>
        </nz-select>
    </ng-container>
</nz-modal>