<nz-space nzDirection="vertical" class="full-width" nzSize="large">
    <div *nzSpaceItem class="add-style">
        <button nz-button [nzType]="'primary'" (click)="toggleAddModal()"><span>Add task</span></button>
        <app-add-task-modal [isVisibleAddModal]="isVisibleAddModal" (toggleAddModal)="toggleAddModal()" ></app-add-task-modal>
    </div>
    <div *nzSpaceItem>
        <app-task-filter (onFilter)="handleFilter($event)"></app-task-filter>
    </div>
    <div *nzSpaceItem>
        <nz-table #basicTable [nzData]="tasks|async" [nzLoading]="loading | async">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Assignee</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of basicTable.data">
                    <td>{{t.description}}</td>
                    <td>{{findUserById(t.assigneeId)}}</td>
                    <td>{{t.completed ? 'Completed' : 'Not completed'}}</td>
                    <td nzAlign="right">
                        <nz-space>
                            <button *nzSpaceItem nz-button (click)="openAssignModal(t)">Assign</button>
                            <button *nzSpaceItem nz-button nzType="primary" (click)="onComplete(t)">
                                {{!t.completed ? 'Complete' : 'Incomplete'}}
                            </button>
                            <button *nzSpaceItem nz-button (click)="viewDetail(t)">Detail</button>
                        </nz-space>
                    </td>
                </tr>
            </tbody>
        </nz-table>

    </div>
</nz-space>

<nz-modal [(nzVisible)]="isVisibleAssignModal" nzTitle="Assign task" (nzOnCancel)="toggleAssignModal()" (nzOnOk)="handleAssignOk()">
    <ng-container *nzModalContent>
        <p>Assign task {{currentTask.id}} to: </p>
        <nz-select class="select-user" nzShowSearch nzAllowClear nzPlaceHolder="Select user" [(ngModel)]="selectedUser">
            <nz-option *ngFor="let user of users | async" [nzLabel]="user.name" [nzValue]="user.id"></nz-option>
        </nz-select>
    </ng-container>
</nz-modal>